<div class="home-container">
  <div id="home-header">

      <div id="header-background" class="background-green">
        <h1 id="chineur" class="text-amiri text-bold text-italic text-50px"> Chineur </h1>
        <h1 id="denicheur" class="text-amiri text-bold text-italic text-50px"> Dénicheur </h1>
      </div>

  </div>


  <div class="margin-top-50px">
    <h1 class="text-32px"> - Mes dernières trouvailles - </h1>
    <p class="text-light text-16px"> Découvre tous mes trésors, catégorie par catégorie ! </p>



  </div>



  <div class="margin-top-50px">
    <h1 class="text-32px"> - Catégories - </h1>
    <p class="text-light text-16px"> Découvre tous mes trésors, catégorie par catégorie ! </p>


  </div>


  <%= "Coucou "%>
  <p> <%= @curiosite_category.name %></p>


  <%= link_to admin_category_path(@curiosite_category.id) do %>
    <p> Curiosités </p>
  <% end %>


</div>



<br>
<br>
<br>
<br>

<br>
<br>
<br>


<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
