/* Main navbar */
.navbar-wagon {
  background: transparent;
  height: 70px;
  padding: 0px 30px;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: sticky;
  top: 0;
}
