// ----- TEXT ------ //

.text-amiri {
  font-family: "Amiri";
}

.text-bold {
  font-weight: bold;
}

.text-italic {
  font-style: italic;
}

.text-light {
  font-weight: lighter;
}

// ---------------- //


// -- TEXT-SIZE --- //

.text-8px {
  font-size: 8px;
}

.text-16px {
  font-size: 16px;
}

.text-24px {
  font-size: 24px;
}

.text-32px {
  font-size: 32px;
}
//5


.text-50px {
  font-size: 50px;
}


// ---------------- //



// -- BACKGROUNDS --//

.background-green {
  background-color: $green-tree;
}

.background-gray {
  background-color: $light-gray;
}


// ---------------- //


// -- MARGIN --//

.margin-top-8px {
  margin-top: 8px;
}

.margin-top-50px {
  margin-top: 50px;
}


// ---------------- //
